/* Body
------------------------------------*/
body {
   
    background: grey;
    background-image: url("macos2.jpg");
    background-repeat: no-repeat;
 
  background-size: cover;
        
}

.border {
  position: fixed;
  top: 0;
  left: 0;
  border: 12px solid #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header
------------------------------------*/
.header {
    background: white;
    border-color: white;
    border-radius: 30px;
    padding: 0;

  }

.header .btn {
text-decoration: none;
color: black;
padding: 20px;
border-radius: 20px;
font-size: 30px;
  }

  .header .btn:hover {
   color: purple;
  }

 .header .position {
    position: absolute;
    top: 2%;
    left: 1%;
   
  }


/* Contact
------------------------------------*/

.contact {

    margin: 0;
    padding: 0;

}

.contact .email {
    
    text-decoration: none;
    padding: 32px 32px;
    border-radius: 4px;
    position: absolute;
    width: 70px;
    height: 45px;
    top: 50%; left: 50.5%;
  }

  .contact .linkedin {
    
    text-decoration: none;
    padding: 32px 32px;
    border-radius: 4px;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 75%; left: 22.5%;
  }

  .contact .instagram {
    
    text-decoration: none;
    padding: 32px 32px;
    border-radius: 4px;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 75%; left: 50.5%;
  }


  /* Projects
------------------------------------*/

.projects {

    margin: 0;
    padding: 0;

}

.projects .hallmark {
    
    text-decoration: none;
    padding: 32px 32px;
    border-radius: 4px;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 36%; left: 29%;
  }

  .projects .planetminer {
    
    text-decoration: none;
    padding: 32px 32px;
    border-radius: 4px;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 59%; left: 29%;
  }

  .projects .processing1 {
    
    text-decoration: none;
    padding: 32px 32px;
    border-radius: 4px;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 36%; left: 39.5%;
  }

  .projects .processing2 {
    
    text-decoration: none;
    padding: 32px 32px;
    border-radius: 4px;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 59%; left: 39.5%;
  }

  .projects .downloadnow {
    
    text-decoration: none;
    padding: 32px 32px;
    border-radius: 4px;
    position: absolute;
    width: 320px;
    height: 50px;
    top: 74%; left: 20%;
  }

  .projects .backbutton {
    
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 4px;
    position: absolute;
    width: 3px;
    height: 3px;
    top: 8%; left: 6.25%;
  }


/* Home
------------------------------------*/
.home {
    margin: 0;
    padding: 0;
    /* ADD DESKTOP BACKGROUND PIC*/
  }

.home .image {

    position: absolute;
    top: 10%; left: 90%;

  }

.home .btn1 {
    
    text-decoration: none;
    padding: 32px 32px;
    border-radius: 4px;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10%; left: 90%;
  }

  .home .btn2 {
   
    text-decoration: none;
    padding: 32px 32px;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    position: absolute;
    top: 25%; left: 90%;
  }

  .home .btn3 {
 
    text-decoration: none;
    padding: 32px 32px;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%; left: 90%;
  }

  .home .btn4 {
    
    text-decoration: none;
    padding: 32px 32px;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 55%; left: 90%;
  }

  .home .btn5 {
   
    text-decoration: none;
    padding: 32px 32px;
    border-radius: 4px;
    background: black;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 70%; left: 90%;
  }


  /* Positions
------------------------------------*/

  .fixposition1 {
    position: absolute;
    top: 10%;
    left: 90%;
   
  }

  .fixposition2 {
    position: absolute;
    top: 10%;
    left: 40%;
   
  }

  .fixposition3 {
    position: absolute;
    top: 30%;
    left: 1%;
   
  }

  .fixposition4 {
    position: absolute;
    top: 60%;
    left: 50%;
   
  }

  .fixposition5 {
    position: absolute;
    top: 15%;
    left: 25%;
   
  }

  .fixposition6 {
    position: absolute;
    top: 5%;
    left: 10%;
   
  }

  .fixposition7 {
    position: absolute;
    top: 24%;
    left: 16%;
   
  }

  .fixposition8 {
    position: absolute;
    top: 17%;
    left: 20%;
  }


  .projectpos {
    position: absolute;
    top: 8%;
    left: 6%;
  }

 .backbuttoneducation {
    
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 4px;
    position: absolute;
    width: 3px;
    height: 3px;
    top: 15.25%; left: 25.2%;
  }

  .backbuttoncontact {
    
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 4px;
    position: absolute;
    width: 3px;
    height: 3px;
    top: 24.4%; left: 16.3%;
  }

  .backbuttonwork {
    
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 4px;
    position: absolute;
    width: 3px;
    height: 3px;
    top: 17.4%; left: 20.2%;
  }

  .backbuttonprojects {
    
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 4px;
    position: absolute;
    width: 3px;
    height: 3px;
    top: 15.4%; left: 25.3%;
  }




  /* Home
------------------------------------*/
  .window {

    width: 300px;
    height: 100px;
    border: 1px solid blue; 


  }

  /* Footer
------------------------------------*/
